/* ==========================================================================
   Border Styles
   ========================================================================== */
 .border {
  border-width: 1px;
  border-style: solid;
}



 .no-border {
  border: none !important;
}



 .border--1 {
  border-color: #1c78b1;
}



 .border--2 {
  border-color: #bbc0c4;
}



 .border--3 {
  border-color: #dfe0e1;
}



 .border--4 {
  border-color: #dfe0e1;
}



 .border--5 {
  border-color: #f5f5f6;
}



 .border--6 {
  border-color: #293f54;
}



 .border--7 {
  border-color: #203345;
}



 .border--8 {
  border-color: #edeff0;
}

  .border--9 {
  border-color: #fc0400;
}


 .border-top {
  border-top-width: 1px;
  border-top-style: solid;
}



 .border-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}



 .border-sides {
  border-left-width: 1px;
  border-right-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
}



 .border-left {
  border-left-width: 1px;
  border-left-style: solid;
}



 .border-right {
  border-right-width: 1px;
  border-right-style: solid;
}


.border-bottom--2 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}


 .border-top-none {
  border-top-width: 0;
}



 .border-bottom-none {
  border-top-width: 0;
}



 .border-left-none {
  border-left-width: 0;
}



 .border-right-none {
  border-left-width: 0;
}



 .border-top--4 {
  border-top-color: #203345;
}



 .border--input_default {
  border-color: #cfd0d2;
}



 .border--input_active {
  border-color: #bbc0c4;
}



 .border--header_button {
  border-color: rgba(255, 255, 255, 0.2);
}


  .border-rounded {
  border-radius: 6px;
}


  .border-circle {
  border-radius: 50%;
}