/**
 * Buttons
 * --------------------------------------------------
 <div class="tab-button bg-light-blue border--9 color-white">Sign In</div>
 */
.btn {
padding-top: 7px;
padding-bottom: 7px;
font-size: 16px;
border-radius: 5px;
}
.bg-primary-btn {
background-color: #2a94d6;
}
.btn--primary {

}
.text-color-4 {
color: #44596c;
}
.size-full {
display: block;
width: 100%;
}
.fw-semibold {
font-weight: 700;
}
.btn:disabled > span {
opacity: 0.5;
}
.btn--primary:active {
background: #278ac7 !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
}
.btn--secondary:active {
background: #edeff0 !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
}