/**
 * HEIGHTS (Should limit the use of these)
 **/



 .ht-7 {
  height: 7px;
}



 .ht-30 {
  height: 30px;
}



 .ht-44 {
  height: 44px;
}



 .ht-75 {
  height: 75px;
}



 .ht-450 {
  height: 450px;
}

/* Percentage heights */



 .ht-third {
  height: 33.33333%;
}



 .ht-full {
  height: 100%;
}