.toast {
position: fixed;
padding: 8px 12px 4px;
min-height: 32px;
min-width: 264px;
max-height: 60px;
max-width: 504px;
overflow: hidden;
cursor: default;
outline: none;
opacity: 0;
transition: transform 0.2s ease-in-out, opacity 0.2s ease-in;
-webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in;
display: inline-block;
background: #323232;
color: #f1f1f1;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
border-radius: 2px;
font-size: 14px;
z-index: 13;
top: 50px;
right: 12px;

    &.opened {
    opacity: 0.7;
    transform: none;
    -webkit-transform: none;
    }
    &.center {
    top: 50%;
    left: 50%;
    margin-left: -132px;
    }
    &.top {
    top: 50px;

        &.center {
        left: 50%;
        margin-left: -132px;
        }
    }
    &.bottom {
    bottom: 70px;
    top: auto;

        &.center {
        left: 50%;
        margin-left: -132px;
        }
    }
    &.left {
    left: 12px;
    margin-left: 0px;

        &.center {
        top: 50%;
        }
    }
    &.right {
    right: 12px;

        &.center {
        top: 50%;
        }
    }
    &.hide {
    display: none;
    }
}