$item-padding:                    16px !default;

// Z-Indexes
// -------------------------------

$z-index-action-sheet:            11 !default;
$z-index-badge:                   1 !default;
$z-index-backdrop:                11 !default;
$z-index-bar:                     10 !default;
$z-index-bar-title:               0 !default;
$z-index-bar-button:              1 !default;
$z-index-item:                    2 !default;
$z-index-item-reorder:            3 !default;
$z-index-item-checkbox:           3 !default;
$z-index-item-drag:               0 !default;
$z-index-item-edit:               0 !default;
$z-index-item-options:            1 !default;
$z-index-item-radio:              3 !default;
$z-index-item-reordering:         9 !default;
$z-index-item-toggle:             3 !default;
$z-index-loading:                 13 !default;
$z-index-menu:                    0 !default;
$z-index-menu-bar-header:         11 !default;
$z-index-menu-scroll-content:     10 !default;
$z-index-modal:                   10 !default;
$z-index-pane:                    1 !default;
$z-index-popup:                   12 !default;
$z-index-popover:                 10 !default;
$z-index-scroll-bar:              9999 !default;
$z-index-scroll-content-false:    11 !default;
$z-index-slider-pager:            1 !default;
$z-index-tabs:                    5 !default;
$z-index-view:                    1 !default;

// Colors
// -------------------------------

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;


// Buttons
// -------------------------------
$button-light-border:             #ddd !default;
$button-stable-border:            #b2b2b2 !default;
$button-positive-bg:              $positive !default;
$button-calm-bg:                  $calm !default;
$button-balanced-bg:              $balanced !default;
$button-assertive-bg:             $assertive !default;
$button-energized-bg:             $energized !default;
$button-royal-bg:                 $royal !default;
$button-dark-bg:                  $dark !default;


// Toggle
// -------------------------------
$toggle-handle-off-bg-color:      $light !default;



// Checkbox
// -------------------------------

$checkbox-width:                  20px !default;
$checkbox-height:                 18px !default;
$checkbox-border-radius:          $checkbox-width !default;
$checkbox-border-width:           1px !default;

$checkbox-off-bg-color:           #fff !default;
$checkbox-off-border-light:       $button-light-border !default;
$checkbox-on-bg-light:            $button-light-border !default;
$checkbox-off-border-stable:      $button-stable-border !default;
$checkbox-on-bg-stable:           $button-stable-border !default;
$checkbox-off-border-positive:    $positive !default;
$checkbox-on-bg-positive:         $positive !default;
$checkbox-off-border-calm:        $calm !default;
$checkbox-on-bg-calm:             $calm !default;
$checkbox-off-border-assertive:   $assertive !default;
$checkbox-on-bg-assertive:        $assertive !default;
$checkbox-off-border-balanced:    $balanced !default;
$checkbox-on-bg-balanced:         $balanced !default;
$checkbox-off-border-energized:   $energized !default;
$checkbox-on-bg-energized:        $energized !default;
$checkbox-off-border-royal:       $royal !default;
$checkbox-on-bg-royal:            $royal !default;
$checkbox-off-border-dark:        $dark !default;
$checkbox-on-bg-dark:             $dark !default;
$checkbox-off-border-default:     $positive !default;
$checkbox-on-bg-default:          $light !default;

$checkbox-check-width:            3px !default;
$checkbox-check-color:            #2cc36b !default;

// Range
// -------------------------------

$range-track-height:              4px !default;
$range-slider-width:              20px !default;
$range-slider-height:             20px !default;
$range-slider-border-radius:      10px !default;
$range-icon-size:                 24px !default;

$range-light-track-bg:            $button-light-border !default;
$range-stable-track-bg:           $button-stable-border !default;
$range-positive-track-bg:         $button-positive-bg !default;
$range-calm-track-bg:             $button-calm-bg !default;
$range-balanced-track-bg:         $button-balanced-bg !default;
$range-assertive-track-bg:        $button-assertive-bg !default;
$range-energized-track-bg:        $button-energized-bg !default;
$range-royal-track-bg:            $button-royal-bg !default;
$range-dark-track-bg:             $button-dark-bg !default;
$range-default-track-bg:          #ccc !default;


// Popups
// -------------------------------

$popup-width:                     250px !default;
$popup-enter-animation:           superScaleIn !default;
$popup-enter-animation-duration:  0.2s !default;
$popup-leave-animation-duration:  0.1s !default;

$popup-border-radius:             0px !default;
$popup-background-color:          rgba(255,255,255,0.9) !default;

$popup-button-border-radius:      2px !default;
$popup-button-line-height:        20px !default;
$popup-button-min-height:         45px !default;

// Toggle
// -------------------------------

$toggle-width:                    54px !default;
$toggle-height:                   32px !default;
$toggle-border-width:             2px !default;
$toggle-border-radius:            20px !default;

$toggle-handle-width:             $toggle-height - ($toggle-border-width * 2) !default;
$toggle-handle-height:            $toggle-handle-width !default;
$toggle-handle-radius:            $toggle-handle-width !default;
$toggle-handle-dragging-bg-color: darken(#fff, 5%) !default;

$toggle-off-bg-color:             #E5E5E5 !default;
$toggle-off-border-color:         #E5E5E5 !default;

$toggle-on-light-bg:              $button-light-border !default;
$toggle-on-light-border:          $toggle-on-light-bg !default;
$toggle-on-stable-bg:             $button-stable-border !default;
$toggle-on-stable-border:         $toggle-on-stable-bg !default;
$toggle-on-positive-bg:           $positive !default;
$toggle-on-positive-border:       $toggle-on-positive-bg !default;
$toggle-on-calm-bg:               $calm !default;
$toggle-on-calm-border:           $toggle-on-calm-bg !default;
$toggle-on-assertive-bg:          $assertive !default;
$toggle-on-assertive-border:      $toggle-on-assertive-bg !default;
$toggle-on-balanced-bg:           $balanced !default;
$toggle-on-balanced-border:       $toggle-on-balanced-bg !default;
$toggle-on-energized-bg:          $energized !default;
$toggle-on-energized-border:      $toggle-on-energized-bg !default;
$toggle-on-royal-bg:              $royal !default;
$toggle-on-royal-border:          $toggle-on-royal-bg !default;
$toggle-on-dark-bg:               $dark !default;
$toggle-on-dark-border:           $toggle-on-dark-bg !default;
$toggle-on-default-bg:            $positive !default;
$toggle-on-default-border:        $toggle-on-default-bg !default;

$toggle-handle-off-bg-color:      $light !default;
$toggle-handle-on-bg-color:       $toggle-handle-off-bg-color !default;

$toggle-transition-duration:      .2s !default;

$toggle-hit-area-expansion:   5px;

// Lists
// -------------------------------

$list-header-bg:                  transparent !default;
$list-header-color:               #222 !default;
$list-header-padding:             5px 15px !default;
$list-header-margin-top:          20px !default;


// Cards
// -------------------------------

$card-header-bg:                  #F5F5F5 !default;
$card-body-bg:                    #fff !default;
$card-footer-bg:                  #F5F5F5 !default;

$card-padding:                    10px !default;
$card-border-width:               1px !default;

$card-border-color:               #ccc !default;
$card-border-radius:              2px !default;

// Items
// -------------------------------

$item-font-size:                  16px !default;
$item-border-width:               1px !default;
$item-padding:                    16px !default;

// Base
// -------------------------------
$content-padding:                 10px !default;